<section class="Main-box Shadow">
    <h1 class="Hilight">Create New Category<h1>
    <%= form_with(url: "/menus" , method: "post") do %> 
    <input type="text" value="Name" name="name">
    
    <input type="submit" value="Create" onclick="this.form.submit()">
    <% end %>
</section>

<section class="Main-box Shadow">
    <h1 class="Hilight">Available Menu Categories</h1>
    <table>
    <% @menus.each do |item|%>
    <tr>
    <div >
    <td class="Table-item">
        <%= link_to "#{item.name}" , menu_menu_items_path(:menu_id => item.id) ,:method => "get" %>
    </td>
    <td class="Table-item">Enable Menu to Customers:</td>
        <td><%= form_with(url: "/menus/#{item.id}" , method: "put") do %>
            <input 
                type="checkbox" 
                name="enabled" <%= item.enabled ? "checked" : ""%>
                onclick="this.form.submit()"
            />
        <% end %>
    </td>
    <td class="Table-item"><%= form_with(url: "menus/#{item.id}" , method: "delete") do %>
            <input type="submit" value="Delete" onclick="this.form.submit()">
    
        <% end %>
    </td>
    </div>
    </tr>
    <% end %>
    </table>
</section>
