<h1>list of items</h1>
<section>
    <%= form_with(url: "/menus/#{params[:menu_id]}/menu_items" , method: "post") do %> 
    <input type="text" value="Name" name="name">
    <input type="text" value="Description" name="description">
    <label>Price</label><input type="number" value="Price" name="price" min="1" >
    <input type="submit" value="Add" onclick="this.form.submit()">
    <% end %>
</section>
<section>
<% MenuItem.where("menu_id = ?",params[:menu_id]).each do |item|%>

    <li class="Items-container">
    

        <div class="Items-content"><%= item.name%></div>
        <div class="Items-content"><%= item.price%></div>
        <div class="Items-content"><%= item.description%></div>
    <%= form_with(url: "/menus/#{item.menu_id}/menu_items/#{item.id}/edit" , method: "get") do %> 
    <input type="submit" value="update" onclick="this.form.submit()">
    <% end %>
    <%= form_with(url: "/menus/#{item.menu_id}/menu_items/#{item.id}" , method: "delete") do %> 
    <input type="submit" value="delete" onclick="this.form.submit()">
    <% end %>
    </li>    
<% end %>
</section>