
<section class="Main-box Shadow">
    <h3 class="Hilight">Add New Item</h3>
    <%= form_with(url: "/menus/#{@id}/menu_items" , method: "post") do %> 
    <input type="text" value="Name" name="name">
    <input type="text" value="Description" name="description">
    <label>Price</label><input type="number" value="Price" name="price" min="1" >
    <input type="submit" value="Add" onclick="this.form.submit()">
    <% end %>
</section>
<section class="Main-box Shadow">
<h3 class="Hilight">Available Items</h3>
<table>
<% @menu_items.each do |item|%>

    <tr>
        <td class="Table-item"><%= item.name%></td>
        <td class="Table-item">Rs.<%= item.price%></td>
        <td class="Table-item"><%= item.description%></td>
        <td class="Table-item">
            <%= form_with(url: "/menus/#{item.menu_id}/menu_items/#{item.id}/edit" , method: "get") do %> 
                <input type="submit" value="update" onclick="this.form.submit()">
            <% end %>
        </td>
         <td class="Table-item">
            <%= form_with(url: "/menus/#{item.menu_id}/menu_items/#{item.id}" , method: "delete") do %> 
                 <input type="submit" value="delete" onclick="this.form.submit()">
            <% end %>
        </td>
    </tr>    
<% end %>
</table>
</section>