
<section class="Form-main">
<h3 class="Hilight">Owner Registration Form</h3>
<%= form_with url: manage_owners_path do |form|%>
    <p class="Content-form">Name:</p>
    <%= form.text_field :name %>
    <p class="Content-form">Email:</p>
    <%= form.email_field :email %>
    <p class="Content-form">Password</p>
    <%= form.password_field :password %><br>
    <%= form.submit "Add" %>

<% end %>
</section>