<%= javascript_pack_tag 'my_function' %>
<div class="Items-main">

<% @current_cart %>
<section>
<h1>Customer view - Available menus</h1>
<% @items.each do |item|%>

    <li class="Items-container">
    <%= form_with(url: "/carts/#{@current_cart.id}/cart_items" , method: "post") do %> 
    <div class="Items-content">
         
        <input type="text" name="menu_item_name" value="<%= item.name%>" readonly>
        <input type="text" name="menu_item_price" value="<%= item.price%>" readonly>
        <input type="hidden" name="menu_id" value="<%= item.menu_id%>">
        <input type="hidden" name="menu_item_id" value="<%= item.id%>">
       
        <input type="submit" value="Add" onclick="this.form.submit()">
    </div>
    <% end %>    
    </li>    
<% end %>
</section>
<section class="Cart-main">
    <h1>Cart Items</h1>
    <% CartItem.where(cart_id: @current_cart.id).each do |cart_item| %>
    <li class="Items-container">
    <div class="Items-content">
       <%= cart_item.menu_item_name%>
       <%= (cart_item.menu_item_price)*cart_item.menu_item_quantity%>
    <%= form_with(url: "/carts/#{@current_cart.id}/cart_items/#{cart_item.id}" , method: "patch") do %>  
        <input type="submit" value="+" name="change" onclick="this.form.submit()">
    <% end %>  
    <%= cart_item.menu_item_quantity%>
    <%= form_with(url: "/carts/#{@current_cart.id}/cart_items/#{cart_item.id}" , method: "patch") do %>  
        <input type="submit" value="-" name="change" onclick="this.form.submit()">
    <% end %> 
    </div>
    </li>
    <% end %>
    Cart Total = <%= @total%><br>
    <%= button_to "Place Order", place_orders_path , :confirm => "Are you sure?", :controller=>"place_orders", :method => "post" %>
   
</section>
</div>