

<section class="Order Shadow">
    <h1 class="Content-heading">Your Cart</h1>
    <table>
    <tr>
        <th class="Cart-item">Cart Item</th>
        <th class="Cart-item">Price</th>
        <th class="Cart-item">Quantity</th>
    </tr>
    <% CartItem.where(cart_id: @current_cart.id).each do |cart_item| %>
    <tr >
    <div >
      <td class="Cart-item"> <%= cart_item.menu_item_name%> </td>
        <td class="Cart-item"><%= (cart_item.menu_item_price)*cart_item.menu_item_quantity%></td>
     
    <td class="Cart-item"><%= cart_item.menu_item_quantity%></td>
    
    </div>
    </tr>
    <% end %>
    </table>
    <p class="Hilight">Cart Total = <%= @total%></p>
    <%= button_to "Confirm Order", place_orders_path , :confirm => "Are you sure?", :controller=>"place_orders", :method => "post" %>
   
</section>