
<table class="Main-box Shadow">
<h3 class="Hilight"><%= section_title%><h3>
  <tr>
    <th class="Table-item">Order ID</th>
    <th class="Table-item">Date</th>
    <th class="Table-item">Name</th>
    <th class="Table-item">Email</th>
  </tr>
<% users.each do |order|%>
  <tr>     
    <td class="Table-item"><%= link_to "#{order[0]}" , report_path( :id => "#{order[0]}") , :method => :get %></td>
    <td class="Table-item"><%= order[1]%></td>
    <td class="Table-item"><%= order[2]%></td>
    <td class="Table-item"><%= order[3]%></td>
  </tr>
  <tr>
<% end %>
</table>
</section>