<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="Welcome-bar">
    <% if @current_user %>
      <% if @current_user.role == "customer" or @current_user.role == "owner"%>
      <p>welcome <%= @current_user.name%></p>
      <% else %>
      <p>welcome WALK IN CUSTOMER</p>
      <% end %>
      <div class="Signout">
      <p><%= link_to "Sign-out", destroy_session_path ,method:"delete" , :class => "link"%></p></div>
      
    <% end %>
    </div>
    <% if flash[:error]%>
    <p class="Flash-error"> <%= flash[:error]%> </p>
    <%end%> 
    <% if flash[:success]%>
    <p class="Flash-success"> <%= flash[:success]%> </p>
    <%end%>
    <%= yield %>
  </body>
</html>
